{% extends 'base.html.twig' %}

{% block title %}Modifier le Type d'Unité{% endblock %}

{% block body %}
    <h1>Modifier le Type d'Unité</h1>

    {{ include('typeunite/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('typeunite_index') }}">retour à la liste</a>

    {{ include('typeunite/_delete_form.html.twig') }}
{% endblock %}
