{% extends 'base.html.twig' %}

{% block title %}Modifier le Groupe{% endblock %}

{% block body %}
    <h1>Modifier le Groupe</h1>
<div class="card p-3 align-items-center">
    {{ include('groupe/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('groupe_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('groupe/_delete_form.html.twig') }}
</div>
{% endblock %}
