{% extends 'base.html.twig' %}

{% block title %}Nouveau Groupe{% endblock %}

{% block body %}
<div class="card p-3 align-items-center">
    <h1>Créer un nouveau Groupe</h1>

    {{ include('groupe/_form.html.twig') }}

    <a href="{{ path('groupe_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
</div>
{% endblock %}
