{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {# <h1>Welcome<h1> #}
    {# class="" id="animation" #}
    <div 
        class="bg-image"
        style="background-image:url('image/img.jpg'); height: 100vh; width: 1150px; background-size: cover;">
        
        <div class="mask gradient-custom row align-self-center text-right">
            <div class="d-flex justify-content-center align-items-center h-100 text-right"> 
                <li> 
                    <a href="{{ path('app_login') }}">
                        <button class="btn btn-primary mb-2">Connexion</button>     
                    </a>
                </li>
                <li> 
                    <a href="{{ path('app_register') }}">
                        <button class="btn btn-primary mb-2">s'inscrire</button>
                    </a>
                </li> 
            </div> 
        </div> 
    </div> 
{% endblock %}
