{% extends 'base.html.twig' %}

{% block title %}Nouvelle Paragraphe{% endblock %}

{% block body %}
    <div class="card p-3 align-items-center">
        <h1>Créer une nouvelle Paragraphe</h1>

        {{ include('paragraphe/_form.html.twig') }}

        <a href="{{ path('paragraphe_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
    </div>
{% endblock %}
