{% extends 'base.html.twig' %}

{% block title %}Modifier le Type de programme{% endblock %}

{% block body %}
    <h1>Modifier le Type de programme</h1>
<div class="card p-3 align-items-center">
    {{ include('typepgram/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('typepgram_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('typepgram/_delete_form.html.twig') }}
</div>
{% endblock %}
