{% extends 'base.html.twig' %}

{% block title %}Type de programme{% endblock %}

{% block body %}
    <h1>Type de programme</h1>

    {{ include('typepgram/_form.html.twig') }}

    <a href="{{ path('typepgram_index') }}">retour à la liste</a>
{% endblock %}
