<form method="post" action="{{ path('typeservice_delete', {'serviceid': typeservice.serviceid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeservice.serviceid) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
