<form method="post" action="{{ path('commune_delete', {'communeid': commune.communeid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commune.communeid) }}">
    <button class="btn">Supprimer</button>
</form>
