{% extends 'base.html.twig' %}

{% block title %}Modifier le Mandat{% endblock %}

{% block body %}
    <h1>Modifier le Mandat</h1>
<div class="card p-3 align-items-center">
    {{ include('mandat/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('mandat_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('mandat/_delete_form.html.twig') }}
</div>
{% endblock %}
