{% extends 'base.html.twig' %}

{% block title %}Modifier l'Unité Administrative{% endblock %}

{% block body %}
    <h1>Modifier l'Unité Administrative</h1>
<div class="card p-3 align-items-center">
    {{ include('uniteadmin/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('uniteadmin_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('uniteadmin/_delete_form.html.twig') }}
</div>
{% endblock %}
