<form method="post" action="{{ path('projet_mandat_delete', {'numProjet': projet_mandat.numProjet}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet_mandat.numProjet) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
