{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet de Mandatement{% endblock %}

{% block body %}
    <h1>Créer un nouveau Projet de Mandatement</h1>

    {{ include('projet_mandat/_form.html.twig') }}

    <a href="{{ path('projet_mandat_index') }}">retour à la liste</a>
{% endblock %}
