<form method="post" action="{{ path('action_delete', {'actionid': action.actionid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action.actionid) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
