{{ form_start(form) }}
    {# <div class="form-group"> #}
    <div style="text-align: center;">
        {{ form_widget(form) }}
     
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
 