{% extends 'base.html.twig' %}

{% block title %}Editer l'action{% endblock %}

{% block body %}
{# <div class="container"> #}
        {# <div class="row"> #}
            {# <div class="col s12 m12 l12"> #}
                <h1 class="text-center">Modifier l'action</h1>
            {# </div> #}
        {# </div> #}

    {# <h1>Editer l'action</h1> #}
<div class="card p-3 align-items-center">
    {{ include('action/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('action_index') }}" class="btn btn-secondary btn-sm">Retour à la liste</a><br>

    {{ include('action/_delete_form.html.twig') }}
</div>
{% endblock %}

