{% extends 'base.html.twig' %}

{% block title %}Modifier la Demande d'Engagement{% endblock %}

{% block body %}
    <h1>Modifier la Demande d'Engagement</h1>
<div class="card p-3 align-items-center">
    {{ include('demande_engagement/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('demande_engagement_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('demande_engagement/_delete_form.html.twig') }}
</div>
{% endblock %}
