{% extends 'base.html.twig' %}

{% block title %}Nouvelle Demande d'Engagement{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Demande d'Engagement</h1>

    {{ include('demande_engagement/_form.html.twig') }}

    <a href="{{ path('demande_engagement_index') }}">retour à la liste</a>
{% endblock %}
