{% extends 'base.html.twig' %}

{% block title %}Modifier la Mission Budgetaire{% endblock %}

{% block body %}
    <h1>Modifier la Mission Budgetaire</h1>
<div class="card p-3 align-items-center">
    {{ include('misbudget/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('misbudget_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('misbudget/_delete_form.html.twig') }}
</div>
{% endblock %}
