{% extends 'base.html.twig' %}

{% block title %}Nouvelle Misbudget{% endblock %}

{% block body %}
<div class="card p-3 align-items-center">
    <h1>Créer une nouvelle Mission Budgetaire</h1>

    {{ include('misbudget/_form.html.twig') }}

    <a href="{{ path('misbudget_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
</div>
{% endblock %}
