{% extends 'base.html.twig' %}

{% block title %}Edit Budgétisation{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Budgétisation</h1>
<div class="card p-3 align-items-center">
    {{ include('budgetisation/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('budgetisation_index') }}" class="btn btn-secondary btn-sm">Retour à la liste</a><br>

    {{ include('budgetisation/_delete_form.html.twig') }}
</div>
{% endblock %}
