{% extends 'base.html.twig' %}

{% block title %}Budgétisation{% endblock %}

{% block body %}

<div class="card p-3 align-items-center">
    <h1>Budgéstisation</h1>

    {{ include('budgetisation/_form.html.twig') }}

    <a href="{{ path('budgetisation_index') }}" class="btn btn-secondary btn-sm">Retour à la liste</a>
    </div>
{% endblock %}
