{% extends 'base.html.twig' %}

{% block title %}New Budgetisation{% endblock %}

{% block body %}
    <h1>Create new Budgetisation</h1>

    {{ include('budgetisation/_form.html.twig') }}

    <a href="{{ path('budgetisation_index') }}" class="btn">retour à la liste</a>
{% endblock %}
