<form method="post" action="{{ path('misetat_delete', {'misetatid': misetat.misetatid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ misetat.misetatid) }}">
    <button class="btn">Supprimer</button>
</form>
