{% extends 'base.html.twig' %}

{% block title %}Modifier la Mission d'Etat{% endblock %}

{% block body %}
    {# <h1>Modifier la Mission d'Etat</h1> #}

{# <div class="container"> #}
        {# <div class="row"> #}
            {# <div class="col s12 m12 l12"> #}
                <h1>Modifier la Mission d'Etat</h1>
            {# </div> #}
        {# </div> #}
<div class="card p-3 align-items-center">
    {{ include('misetat/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('misetat_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('misetat/_delete_form.html.twig') }}
</div>
{% endblock %}

