{% extends 'base.html.twig' %}

{% block title %}Edit Champcompetence{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Champcompetence</h1>
<div class="card p-3 align-items-center">
    {{ include('champcompetence/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('champcompetence_index') }}" class="btn btn-secondary btn-sm">Retour à la liste</a><br>

    {{ include('champcompetence/_delete_form.html.twig') }}
</div>
{% endblock %}
