{% extends 'base.html.twig' %}

{% block title %}Pièce Justificative{% endblock %}

{% block body %}
<div class="card p-3 align-items-center">
    <h1>Pièce Justificative</h1>

    {{ include('piece_justificative/_form.html.twig') }}

    <a href="{{ path('piece_justificative_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
</div>
{% endblock %}
