{% extends 'base.html.twig' %}

{% block title %}Modifier la Région{% endblock %}

{% block body %}
    <h1>Modifier la Région</h1>
<div class="card p-3 align-items-center">
    {{ include('region/_form.html.twig', {'button_label': 'Mise à jour'}) }}<br>

    <a href="{{ path('region_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a><br>

    {{ include('region/_delete_form.html.twig') }}
</div>
{% endblock %}
