{% extends 'base.html.twig' %}

{% block title %}Nouveau article{% endblock %}

{% block body %}
    <h1>Créer un nouveau article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="btn">retour à la liste</a>
{% endblock %}
