<form method="post" action="{{ path('programme_delete', {'programmeid': programme.programmeid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programme.programmeid) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
