{% extends 'base.html.twig' %}

{% block title %}Nouveau Programme{% endblock %}

{% block body %}
    <h1>Créer un nouveau Programme</h1>

    {{ include('programme/_form.html.twig') }}

    <a href="{{ path('programme_index') }}">retour à la liste</a>
{% endblock %}
